{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}
    <div class="body" style="padding-top: 0;margin-top: 0;">
    {# 轮播图 #}
    <div class="banner">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          {% if banners %}
              {% for banner in banners %}
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="{% ifequal banner.pk 1 %}active{% endifequal %}"></li>
              {% endfor %}
          {% else %}
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          {% endif %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner"  style="width:100%;height:500px;" role="listbox">

        {% if banners %}
            {% for banner in banners %}
                {# 防止active冲突 #}
                <div class="item {% ifequal banner.pk 1 %} active{% endifequal %}"  style="width:100%;height:500px;" >
                  <img class="banner-images" style="width:100%;height:100%" src="{{ MEDIA_URL }}{{ banner.image }}" alt="...">
                </div>
            {% endfor %}
        {% else %}
            <div class="item active"  style="width:100%;height:500px;" >
              <img class="banner-images" style="width:100%;height:100%" src="{% static 'images/index1.jpg' %}" alt="...">
            </div>
            <div class="item"  style="width:100%;height:500px;">
              <img class="banner-images" style="width:100%;height:100%" src="{% static 'images/index2.jpg' %}" alt="...">
            </div>
        {% endif %}
      </div>
    </div>

    {# 转动1 #}
    {% if company_categorys %}
        {% for category in company_categorys %}
            <div class="body-main">
            <div class="body-warrap">
        <div class="title">
          <p> {{ category.name_code }} <p>
          <a href="">更多</a>
        </div>

         <!-- Swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
              {% for category_img in category.category_image.all %}
                <div class="swiper-slide"><img src="{{ MEDIA_URL }}{{ category_img.image }}"></div>
              {% endfor %}
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
    </div>
        {% endfor %}
    {% else %}
    <div class="body-main">
      <div class="body-warrap">
        <div class="title">
          <p>概况</p>
          <a href="">more</a>
        </div>

         <!-- Swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{% static 'images/1.jpg' %}"></div>
            <div class="swiper-slide"><img src="{% static 'images/2.jpg' %}"></div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
            <div class="swiper-slide">Slide 10</div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
    </div>

    {# 转动2 #}
    <div class="body-main color">
      <div class="body-warrap">
        <div class="title">
          <p style="color: white;">概况</p>
          <a style="color: white;" href="">更多</a>
        </div>

         <!-- Swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{% static 'images/1.jpg' %}"></div>
            <div class="swiper-slide"><img src="{% static 'images/2.jpg' %}"></div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
            <div class="swiper-slide">Slide 10</div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
    </div>


    {# 转动3 #}
    <div class="body-main">
      <div class="body-warrap">
        <div class="title">
          <p>概况</p>
          <a>更多</a>
        </div>

         <!-- Swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{% static 'images/1.jpg' %}"></div>
            <div class="swiper-slide"><img src="{% static 'images/2.jpg' %}"></div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
            <div class="swiper-slide">Slide 10</div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
    </div>
    {% endif %}
{% endblock %}


{% block js %}{% endblock %}
